@use './reset';

body {
	display: flex;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	background-color: rgb(77, 75, 75);
}
#background_1,
#collision,
#foreground,
#player,
#test1 {
	display: none;
}

#canvas1 {
	height: 100vh;
	border-left: 2px solid white;
	border-right: 2px solid white;
}
